<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
    <div class="login-wrapper">
        <form id="resetPWForm" action="/password-init" method="post">
            <div class="login-screen">
                <div class="login-body pb-4">
                    <a href="/login.html" class="login-logo">
                        <img src="img/logo.svg" alt="Quick Chat" />
                    </a>
                    <h6>
                        Enter your New Password.
                    </h6>
                    <div class="field-wrapper mb-3">
                        <input type="email" id="email" name="email" value="<%=data.email%>" readonly />
                        <div class="field-placeholder">Your Account</div>
                    </div>
                    <div class="field-wrapper mb-3">
                        <input type="password" id="password" name="password" autofocus />
                        <div class="field-placeholder">New password</div>
                    </div>
                    <div class="field-wrapper mb-3">
                        <input type="password" id="confirmPassword" />
                        <div class="field-placeholder">Confirm Password</div>
                    </div>
                    <div class="actions">
                        <button type="submit" class="btn btn-primary ml-auto">
                            Submit
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $("#resetPWForm").submit(function () {
        if ($("#password").val() == "") {
            alert("암호를 입력해주세요.");
            $("#password").focus();
            return false;
        };
        if ($("#confirmPassword").val() == "") {
            alert("암호를 재입력해주세요.");
            $("#confirmPassword").focus();
            return false;
        };
        if ($("#confirmPassword").val() != $("#password").val()) {
            alert("암호가 일치하지 않습니다.");
            return false;
        };
    });
</script>