<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
    <h1><%= title %></h1>
    <a href="/admin/list">관리자 계정 목록</a><br/>
    <a href="/article/list">게시글 목록</a><br/>
    <a href="/member/list">사용자 계정 목록</a><br/>
    <a href="/channel/list">채팅방 목록</a><br/>
    <a href="/message/list">채팅 메세지 이력</a><br/>
  </body>
</html>
