<!-- Empty chat screen start -->
<div class="empty-chat-screen">
					
  <!-- Option to display logged in user avatar -->
  <!--
    <img src="img/user2.png" class="my-avatar" alt="My Avatar">
    <h5>Hey, <span>Katherine</span></h5>
    <h6>Welcome to Quick Chat App</h6>
    <p>Please select a chat to start messaging.</p>
  -->

  <!-- Display Image -->
  <img src="img/empty-chat-display.svg" class="empty-chat-display" alt="My Avatar">
  <p>Please select a chat to start messaging.</p>

  <a href="#" class="btn btn-primary lets-chat-mobile-view">Lets Chat</a>
</div>
<!-- Empty chat screen end -->