<p id="resultMsg" style="color: crimson;"></p>

<script>
    var result="<%=resultMsg%>";
    var error="<%=loginError%>";
    if(result!=""){
      document.getElementById("resultMsg").innerText=result;
    }

    if(error.length>0){
      document.getElementById("resultMsg").innerText=error;
    }
  </script>