<!--우측 콘텐츠 영역 -->
<form action="/message/create" id="messageForm" method="post">
    <div class="wrapper wrapper-content">
        <div class="ibox-content m-b-sm border-bottom">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group d-flex flex-column">
                        <label class="control-label">대표이미지</label>
                        <img class="w-75" src="" alt="" />
                        <button class="w-75" submit="/">변경</button>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <div>
                            <label class="control-label">채팅방ID</label>
                            <input type="text" id="channel_id" class="form-control mb-3" />
                        </div>
                        <div class="form-group">
                            <label class="control-label col-6">작성자ID</label>
                            <input type="text" id="member_id" class="form-control mb-3" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">작성자 닉네임</label>
                            <input type="text" id="nick_name" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">메세지 유형</label>
                            <select id="msg_type_code" class="form-control">
                                <option value="9">선택</option>
                                <option value="0">퇴장</option>
                                <option value="1">입장</option>
                                <option value="3">일반메세지</option>
                                <option value="4">파일메세지</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">커넥션ID</label>
                            <input type="text" id="connection_id" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">메시지</label>
                            <textarea id="contents" rows="4" cols="50" class="form-control">
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary">저장</button>
                <a href="/message/list" class="btn btn-info">목록</a>
            </div>
        </div>
    </div>
</form>

<script>
    //유효성검사
    $('#messageForm').submit(function () {
        if ($('#channel_id').val() == '') {
            alert('채팅방을 선택해주세요');
            $('#channel_id').focus();
            return false;
        }

        if ($('#member_id').val() == '') {
            alert('작성자를 선택해주세요.');
            $('#member_id').focus();
            return false;
        }

        if ($('#nick_name').val() == '') {
            alert('작성자 닉네임을 입력해주세요.');
            $('#nick_name').focus();
            return false;
        }

        if ($('#msg_type_code').val() == '9') {
            alert('메세지 유형을 선택해주세요.');
            $('#msg_type_code').focus();
            return false;
        }

        if ($('#nick_name').val() == '') {
            alert('작성자 닉네임을 입력해주세요.');
            $('#nick_name').focus();
            return false;
        }

        if ($('#connection_id').val() == '') {
            alert('커넥션을 선택해주세요.');
            $('#connection_id').focus();
            return false;
        }

        return true;
    });
</script>