<!DOCTYPE html>
<html>
    <head>
        <title>신규회원가입-회원 약관</title>
    </head>

    <body>
        <h1>회원약관에 동의하시겠습니까?</h1>
        <p>회원약관1 ... </p>
        <p>회원약관2 ... </p>
        <p>회원약관3 ... </p>
        <nav>
            <a href="/member/entry">
                <input type="submit" value="약관동의"/>
            </a>
        </nav>
    </body>
</html>