<!DOCTYPE html>

<html>
    <head>
        <title>새 채팅방 생성 페이지</title>
    </head>

    <body>
        <h1>새 채팅방 만들기</h1>
        <form action="/channel/create" method="post">
        채팅방 이름:<input type="text" name="title"><br/>
        유저상한제한:<input type="text" name="userLimit" /><br/>
        <input type="submit" value="저장"/>
        <a href="/channel/list">목록</a>
        </form>
    </body>
</html>