<!DOCTYPE html>
<html>
    <head>
        <title>
            관리자 계정 정보 리스트
        </title>
    </head>

    <body>
        <h1>채팅방 관리</h1>
        <a href="/channel/create">새 채팅방 생성</a><br/>
        <a href="/channel/modify">채팅방 정보 수정</a><br/>
        <a href="/channel/delete">채팅방 삭제</a><br/>
    </body>
</html>