<!DOCTYPE html>
<html>
    <head>
        <title>
            유저 계정 정보 리스트
        </title>
    </head>

    <body>
        <h1>member 리스트</h1>
        <a href="/member/create">신규 유저 생성</a><br/>
        <a href="/member/modify">유저 정보 수정</a><br/>
        <a href="/member/delete">유저 정보 삭제</a><br/>
    </body>
</html>