<!DOCTYPE html>
<html>
    <head>
        <title>
            게시글 목록 페이지
        </title>
    </head>

    <body>
        <h1>게시글 목록</h1>
        <a href="/article/create">신규 게시글 작성</a><br/>
        <a href="/article/modify">게시글 수정</a><br/>
        <a href="/article/delete">게시글 삭제</a><br/>
    </body>
</html>