<!DOCTYPE html>

<html>
    <head>
        <title>새로운 메시지 작성</title>
    </head>

    <body>
        <h1>신규 메시지 작성</h1>
        <form action="/message/create" method="post">
        유저ID:<input type="text" name="memberId"/><br/>
        채팅방ID:<input type="text" name="channelId"/><br/>
        내용:<textarea name="message" rows="20" cols="10" style="width:90%"></textarea><br/>
        <input type="submit" value="저장"/>
        <a href="/message/list">목록 이동</a>
        </form>
    </body>
</html>