<!DOCTYPE html>
<html>
    <head>
        <title>
            메시지 관리 페이지
        </title>
    </head>

    <body>
        <h1>메시지 리스트</h1>
        <a href="/message/create">신규 메시지 작성</a><br/>
        <a href="/message/modify">메시지 수정</a><br/>
        <a href="/message/delete">메시지 삭제</a><br/>
    </body>
</html>